/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */
/* Modified with class prefix for display withing Light Table */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400";



.adoc {overflow: auto; background:#fffffa;color:rgba(0,0,0,.8);padding:10px ;margin:0;font-family:"Noto Serif","DejaVu Serif",serif;font-weight:400;font-style:normal;line-height:1;position:relative;cursor:auto}


.adoc article,.adoc aside,.adoc details,.adoc figcaption,.adoc figure,.adoc footer,.adoc header,.adoc hgroup,.adoc main,.adoc nav,.adoc section,.adoc summary{display:block}
.adoc audio,.adoc canvas,.adoc video{display:inline-block}
.adoc audio:not([controls]){display:none;height:0}
.adoc [hidden],.adoc template{display:none}
.adoc script{display:none!important}
.adoc html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
.adoc body{margin:0}
.adoc a{background:transparent}
.adoc a:focus{outline:thin dotted}
.adoc a:active,.adoc a:hover{outline:0}
.adoc h1{font-size:2em;margin:.67em 0}
.adoc abbr[title]{border-bottom:1px dotted}
.adoc b,.adoc strong{font-weight:bold}
.adoc dfn{font-style:italic}
.adoc hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
.adoc mark{background:#ff0;color:#000}
.adoc code,.adoc kbd,.adoc pre,.adoc samp{font-family:monospace;font-size:1em}
.adoc pre{white-space:pre-wrap}
.adoc q{quotes:"\201C" "\201D" "\2018" "\2019"}
.adoc small{font-size:80%}
.adoc sub,.adoc sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
.adoc sup{top:-.5em}
.adoc sub{bottom:-.25em}
.adoc img{border:0}
.adoc svg:not(:root){overflow:hidden}
.adoc figure{margin:0}
.adoc fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
.adoc legend{border:0;padding:0}
.adoc button,.adoc input,.adoc select,.adoc textarea{font-family:inherit;font-size:100%;margin:0}
.adoc button,.adoc input{line-height:normal}
.adoc button,.adoc select{text-transform:none}
.adoc button,.adoc html input[type="button"],.adoc input[type="reset"],.adoc input[type="submit"]{-webkit-appearance:button;cursor:pointer}
.adoc button[disabled],.adoc html input[disabled]{cursor:default}
.adoc input[type="checkbox"],.adoc input[type="radio"]{box-sizing:border-box;padding:0}
.adoc input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
.adoc input[type="search"]::-webkit-search-cancel-button,.adoc input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.adoc button::-moz-focus-inner,.adoc input::-moz-focus-inner{border:0;padding:0}
.adoc textarea{overflow:auto;vertical-align:top}
.adoc table{border-collapse:collapse;border-spacing:0}
.adoc *,.adoc *:before,.adoc *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.adoc html,.adoc body{font-size:100%}
.adoc body{background:#fff;color:rgba(0,0,0,.8);padding:0;margin:0;font-family:"Noto Serif","DejaVu Serif",serif;font-weight:400;font-style:normal;line-height:1;position:relative;cursor:auto}
.adoc a:hover{cursor:pointer}
.adoc img,.adoc object,.adoc embed{max-width:100%;height:auto}
.adoc object,.adoc embed{height:100%}
.adoc img{-ms-interpolation-mode:bicubic}
.adoc #map_canvas img,.adoc #map_canvas embed,.adoc #map_canvas object,.adoc .map_canvas img,.adoc .map_canvas embed,.adoc .map_canvas object{max-width:none!important}
.adoc .left{float:left!important}
.adoc .right{float:right!important}
.adoc .text-left{text-align:left!important}
.adoc .text-right{text-align:right!important}
.adoc .text-center{text-align:center!important}
.adoc .text-justify{text-align:justify!important}
.adoc .hide{display:none}
.adoc .antialiased,.adoc body{-webkit-font-smoothing:antialiased}
.adoc img{display:inline-block;vertical-align:middle}
.adoc textarea{height:auto;min-height:50px}
.adoc select{width:100%}
.adoc p.lead,.adoc .paragraph.lead>p,.adoc #preamble>.sectionbody>.paragraph:first-of-type p{font-size:1.21875em;line-height:1.6}
.adoc .subheader,.adoc .admonitionblock td.adoc-content>.title,.adoc .audioblock>.title,.adoc .exampleblock>.title,.adoc .imageblock>.title,.adoc .listingblock>.title,.adoc .literalblock>.title,.adoc .stemblock>.title,.adoc .openblock>.title,.adoc .paragraph>.title,.adoc .quoteblock>.title,.adoc table.tableblock>.title,.adoc .verseblock>.title,.adoc .videoblock>.title,.adoc .dlist>.title,.adoc .olist>.title,.adoc .ulist>.title,.adoc .qlist>.title,.adoc .hdlist>.title{line-height:1.45;color:#7a2518;font-weight:400;margin-top:0;margin-bottom:.25em}
.adoc div,.adoc dl,.adoc dt,.adoc dd,.adoc ul,.adoc ol,.adoc li,.adoc h1,.adoc h2,.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title,.adoc h4,.adoc h5,.adoc h6,.adoc pre,.adoc form,.adoc p,.adoc blockquote,.adoc th,.adoc td{margin:0;padding:0;direction:ltr}
.adoc a{color:#2156a5;text-decoration:underline;line-height:inherit}
.adoc a:hover,.adoc a:focus{color:#1d4b8f}
.adoc a img{border:none}
.adoc p{font-family:inherit;font-weight:400;font-size:1em;line-height:1.6;margin-bottom:1.25em;text-rendering:optimizeLegibility}
.adoc p aside{font-size:.875em;line-height:1.35;font-style:italic}
.adoc h1,.adoc h2,.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title,.adoc h4,.adoc h5,.adoc h6{font-family:"Open Sans","DejaVu Sans",sans-serif;font-weight:300;font-style:normal;color:#ba3925;text-rendering:optimizeLegibility;margin-top:1em;margin-bottom:.5em;line-height:1.0125em}
.adoc h1 small,.adoc h2 small,.adoc h3 small,.adoc #toctitle small,.adoc .sidebarblock>.adoc-content>.title small,.adoc h4 small,.adoc h5 small,.adoc h6 small{font-size:60%;color:#e99b8f;line-height:0}
.adoc h1{font-size:2.125em}
.adoc h2{font-size:1.6875em}
.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title{font-size:1.375em}
.adoc h4,.adoc h5{font-size:1.125em}
.adoc h6{font-size:1em}
.adoc hr{border:solid #ddddd8;border-width:1px 0 0;clear:both;margin:1.25em 0 1.1875em;height:0}
.adoc em,.adoc i{font-style:italic;line-height:inherit}
.adoc strong,.adoc b{font-weight:bold;line-height:inherit}
.adoc small{font-size:60%;line-height:inherit}
.adoc code{font-family:"Droid Sans Mono","DejaVu Sans Mono",monospace;font-weight:400;color:rgba(0,0,0,.9)}

.adoc ul,.adoc ol,.adoc dl{font-size:1em;line-height:1.6;margin-bottom:1.25em;list-style-position:outside;font-family:inherit}
.adoc ul,.adoc ol,.adoc ul.no-bullet,.adoc ol.no-bullet{margin-left:1.5em}
.adoc ul li ul,.adoc ul li ol{margin-left:1.25em;margin-bottom:0;font-size:1em}
.adoc ul.square li ul,.adoc ul.circle li ul,.adoc ul.disc li ul{list-style:inherit}
.adoc ul.square{list-style-type:square}
.adoc ul.circle{list-style-type:circle}
.adoc ul.disc{list-style-type:disc}
.adoc ul.no-bullet{list-style:none}
.adoc ol li ul,.adoc ol li ol{margin-left:1.25em;margin-bottom:0}
.adoc dl dt{margin-bottom:.3125em;font-weight:bold}
.adoc dl dd{margin-bottom:1.25em}


.adoc abbr,.adoc acronym{text-transform:uppercase;font-size:90%;color:rgba(0,0,0,.8);border-bottom:1px dotted #ddd;cursor:help}
.adoc abbr{text-transform:none}
.adoc blockquote{margin:0 0 1.25em;padding:.5625em 1.25em 0 1.1875em;border-left:1px solid #ddd}
.adoc blockquote cite{display:block;font-size:.9375em;color:rgba(0,0,0,.6)}
.adoc blockquote cite:before{content:"\2014 \0020"}
.adoc blockquote cite a,.adoc blockquote cite a:visited{color:rgba(0,0,0,.6)}
.adoc blockquote,.adoc blockquote p{line-height:1.6;color:rgba(0,0,0,.85)}

.adoc h1{font-size:2.75em}
.adoc h2{font-size:2.3125em}
.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title{font-size:1.6875em}
.adoc h4{font-size:1.4375em}}table{background:#fff;margin-bottom:1.25em;border:solid 1px #dedede}
.adoc table thead,.adoc table tfoot{background:#f7f8f7;font-weight:bold}
.adoc table thead tr th,.adoc table thead tr td,.adoc table tfoot tr th,.adoc table tfoot tr td{padding:.5em .625em .625em;font-size:inherit;color:rgba(0,0,0,.8);text-align:left}
.adoc table tr th,.adoc table tr td{padding:.5625em .625em;font-size:inherit;color:rgba(0,0,0,.8)}
.adoc table tr.even,.adoc table tr.alt,.adoc table tr:nth-of-type(even){background:#f8f8f7}
.adoc table thead tr th,.adoc table tfoot tr th,.adoc table tbody tr td,.adoc table tr td,.adoc table tfoot tr td{display:table-cell;line-height:1.6}
.adoc h1,.adoc h2,.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title,.adoc h4,.adoc h5,.adoc h6{line-height:1.2;word-spacing:-.05em}
.adoc h1 strong,.adoc h2 strong,.adoc h3 strong,.adoc #toctitle strong,.adoc .sidebarblock>.adoc-content>.title strong,.adoc h4 strong,.adoc h5 strong,.adoc h6 strong{font-weight:400}
.adoc .clearfix:before,.adoc .clearfix:after,.adoc .float-group:before,.adoc .float-group:after{content:" ";display:table}
.adoc .clearfix:after,.adoc .float-group:after{clear:both}
.adoc *:not(pre)>code{font-size:.9375em;font-style:normal!important;letter-spacing:0;padding:.1em .5ex;word-spacing:-.15em;background-color:#f7f7f8;-webkit-border-radius:4px;border-radius:4px;line-height:1.45;text-rendering:optimizeSpeed}

.adoc pre,.adoc pre>code{line-height:1.45;color:rgba(0,0,0,.9);font-family:"Droid Sans Mono","DejaVu Sans Mono",monospace;font-weight:400;text-rendering:optimizeSpeed}
.adoc .keyseq{color:rgba(51,51,51,.8)}
.adoc kbd{display:inline-block;color:rgba(0,0,0,.8);font-size:.75em;line-height:1.4;background-color:#f7f7f7;border:1px solid #ccc;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 .1em white inset;box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 .1em #fff inset;margin:-.15em .15em 0 .15em;padding:.2em .6em .2em .5em;vertical-align:middle;white-space:nowrap}
.adoc .keyseq kbd:first-child{margin-left:0}
.adoc .keyseq kbd:last-child{margin-right:0}
.adoc .menuseq,.adoc .menu{color:rgba(0,0,0,.8)}
.adoc b.button:before,.adoc b.button:after{position:relative;top:-1px;font-weight:400}
.adoc b.button:before{content:"[";padding:0 3px 0 2px}
.adoc b.button:after{content:"]";padding:0 2px 0 3px}
.adoc p a>code:hover{color:rgba(0,0,0,.9)}
.adoc #header,.adoc #content,.adoc #footnotes,.adoc #footer{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:62.5em;*zoom:1;position:relative;padding-left:.9375em;padding-right:.9375em}
.adoc #header:before,.adoc #header:after,.adoc #content:before,.adoc #content:after,.adoc #footnotes:before,.adoc #footnotes:after,.adoc #footer:before,.adoc #footer:after{content:" ";display:table}
.adoc #header:after,.adoc #content:after,.adoc #footnotes:after,.adoc #footer:after{clear:both}
.adoc #content{margin-top:1.25em}
.adoc #content:before{content:none}
.adoc #header>h1:first-child{color:rgba(0,0,0,.85);margin-top:2.25rem;margin-bottom:0}
.adoc #header>h1:first-child+#toc{margin-top:8px;border-top:1px solid #ddddd8}
.adoc #header>h1:only-child,.adoc body.toc2 #header>h1:nth-last-child(2){border-bottom:1px solid #ddddd8;padding-bottom:8px}
.adoc #header .details{border-bottom:1px solid #ddddd8;line-height:1.45;padding-top:.25em;padding-bottom:.25em;padding-left:.25em;color:rgba(0,0,0,.6);display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-flow:row wrap;-webkit-flex-flow:row wrap;flex-flow:row wrap}
.adoc #header .details span:first-child{margin-left:-.125em}
.adoc #header .details span.email a{color:rgba(0,0,0,.85)}
.adoc #header .details br{display:none}
.adoc #header .details br+span:before{content:"\00a0\2013\00a0"}
.adoc #header .details br+span.author:before{content:"\00a0\22c5\00a0";color:rgba(0,0,0,.85)}
.adoc #header .details br+span#revremark:before{content:"\00a0|\00a0"}
.adoc #header #revnumber{text-transform:capitalize}
.adoc #header #revnumber:after{content:"\00a0"}
.adoc #content>h1:first-child:not([class]){color:rgba(0,0,0,.85);border-bottom:1px solid #ddddd8;padding-bottom:8px;margin-top:0;padding-top:1rem;margin-bottom:1.25rem}
.adoc #toc{border-bottom:1px solid #efefed;padding-bottom:.5em}
.adoc #toc>ul{margin-left:.125em}
.adoc #toc ul.sectlevel0>li>a{font-style:italic}
.adoc #toc ul.sectlevel0 ul.sectlevel1{margin:.5em 0}
.adoc #toc ul{font-family:"Open Sans","DejaVu Sans",sans-serif;list-style-type:none}
.adoc #toc a{text-decoration:none}
.adoc #toc a:active{text-decoration:underline}
.adoc #toctitle{color:#7a2518;font-size:1.2em}


.adoc body.toc2{padding-left:15em;padding-right:0}
.adoc #toc.toc2{margin-top:0!important;background-color:#f8f8f7;position:fixed;width:15em;left:0;top:0;border-right:1px solid #efefed;border-top-width:0!important;border-bottom-width:0!important;z-index:1000;padding:1.25em 1em;height:100%;overflow:auto}
.adoc #toc.toc2 #toctitle{margin-top:0;font-size:1.2em}
.adoc #toc.toc2>ul{font-size:.9em;margin-bottom:0}
.adoc #toc.toc2 ul ul{margin-left:0;padding-left:1em}
.adoc #toc.toc2 ul.sectlevel0 ul.sectlevel1{padding-left:0;margin-top:.5em;margin-bottom:.5em}
.adoc body.toc2.toc-right{padding-left:0;padding-right:15em}
.adoc body.toc2.toc-right #toc.toc2{border-right-width:0;border-left:1px solid #efefed;left:auto;right:0}

.adoc #toc.toc2{width:20em}
.adoc #toc.toc2 #toctitle{font-size:1.375em}
.adoc #toc.toc2>ul{font-size:.95em}
.adoc #toc.toc2 ul ul{padding-left:1.25em}
.adoc body.toc2.toc-right{padding-left:0;padding-right:20em}
.adoc #content #toc{border-style:solid;border-width:1px;border-color:#e0e0dc;margin-bottom:1.25em;padding:1.25em;background:#f8f8f7;-webkit-border-radius:4px;border-radius:4px}
.adoc #content #toc>:first-child{margin-top:0}
.adoc #content #toc>:last-child{margin-bottom:0}
.adoc #footer{max-width:100%;background-color:rgba(0,0,0,.8);padding:1.25em}
.adoc #footer-text{color:rgba(255,255,255,.8);line-height:1.44}
.adoc .sect1{padding-bottom:.625em}

.adoc #content h1>a.anchor,.adoc h2>a.anchor,.adoc h3>a.anchor,.adoc #toctitle>a.anchor,.adoc .sidebarblock>.adoc-content>.title>a.anchor,.adoc h4>a.anchor,.adoc h5>a.anchor,.adoc h6>a.anchor{position:absolute;z-index:1001;width:1.5ex;margin-left:-1.5ex;display:block;text-decoration:none!important;visibility:hidden;text-align:center;font-weight:400}
.adoc #content h1>a.anchor:before,.adoc h2>a.anchor:before,.adoc h3>a.anchor:before,.adoc #toctitle>a.anchor:before,.adoc .sidebarblock>.adoc-content>.title>a.anchor:before,.adoc h4>a.anchor:before,.adoc h5>a.anchor:before,.adoc h6>a.anchor:before{content:"\00A7";font-size:.85em;display:block;padding-top:.1em}
.adoc #content h1:hover>a.anchor,.adoc #content h1>a.anchor:hover,.adoc h2:hover>a.anchor,.adoc h2>a.anchor:hover,.adoc h3:hover>a.anchor,.adoc #toctitle:hover>a.anchor,.adoc .sidebarblock>.adoc-content>.title:hover>a.anchor,.adoc h3>a.anchor:hover,.adoc #toctitle>a.anchor:hover,.adoc .sidebarblock>.adoc-content>.title>a.anchor:hover,.adoc h4:hover>a.anchor,.adoc h4>a.anchor:hover,.adoc h5:hover>a.anchor,.adoc h5>a.anchor:hover,.adoc h6:hover>a.anchor,.adoc h6>a.anchor:hover{visibility:visible}
.adoc #content h1>a.link,.adoc h2>a.link,.adoc h3>a.link,.adoc #toctitle>a.link,.adoc .sidebarblock>.adoc-content>.title>a.link,.adoc h4>a.link,.adoc h5>a.link,.adoc h6>a.link{color:#ba3925;text-decoration:none}
.adoc #content h1>a.link:hover,.adoc h2>a.link:hover,.adoc h3>a.link:hover,.adoc #toctitle>a.link:hover,.adoc .sidebarblock>.adoc-content>.title>a.link:hover,.adoc h4>a.link:hover,.adoc h5>a.link:hover,.adoc h6>a.link:hover{color:#a53221}
.adoc .audioblock,.adoc .imageblock,.adoc .literalblock,.adoc .listingblock,.adoc .stemblock,.adoc .videoblock{margin-bottom:1.25em}
.adoc .admonitionblock td.adoc-content>.title,.adoc .audioblock>.title,.adoc .exampleblock>.title,.adoc .imageblock>.title,.adoc .listingblock>.title,.adoc .literalblock>.title,.adoc .stemblock>.title,.adoc .openblock>.title,.adoc .paragraph>.title,.adoc .quoteblock>.title,.adoc table.tableblock>.title,.adoc .verseblock>.title,.adoc .videoblock>.title,.adoc .dlist>.title,.adoc .olist>.title,.adoc .ulist>.title,.adoc .qlist>.title,.adoc .hdlist>.title{text-rendering:optimizeLegibility;text-align:left;font-family:"Noto Serif","DejaVu Serif",serif;font-size:1rem;font-style:italic}
.adoc table.tableblock>caption.title{white-space:nowrap;overflow:visible;max-width:0}
.adoc .paragraph.lead>p,.adoc #preamble>.sectionbody>.paragraph:first-of-type p{color:rgba(0,0,0,.85)}
.adoc table.tableblock #preamble>.sectionbody>.paragraph:first-of-type p{font-size:inherit}



.adoc .admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
.adoc .admonitionblock>table td.icon{text-align:center;width:80px}
.adoc .admonitionblock>table td.icon img{max-width:none}
.adoc .admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.adoc .admonitionblock>table td.adoc-content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6)}
.adoc .admonitionblock>table td.adoc-content>:last-child>:last-child{margin-bottom:0}
.adoc .exampleblock>.adoc-content{border-style:solid;border-width:1px;border-color:#e6e6e6;margin-bottom:1.25em;padding:1.25em;background:#fff;-webkit-border-radius:4px;border-radius:4px}
.adoc .exampleblock>.adoc-content>:first-child{margin-top:0}
.adoc .exampleblock>.adoc-content>:last-child{margin-bottom:0}
.adoc .sidebarblock{border-style:solid;border-width:1px;border-color:#e0e0dc;margin-bottom:1.25em;padding:1.25em;background:#f8f8f7;-webkit-border-radius:4px;border-radius:4px}
.adoc .sidebarblock>:first-child{margin-top:0}
.adoc .sidebarblock>:last-child{margin-bottom:0}
.adoc .sidebarblock>.adoc-content>.title{color:#7a2518;margin-top:0;text-align:center}
.adoc .exampleblock>.adoc-content>:last-child>:last-child,.adoc .exampleblock>.adoc-content .olist>ol>li:last-child>:last-child,.adoc .exampleblock>.adoc-content .ulist>ul>li:last-child>:last-child,.adoc .exampleblock>.adoc-content .qlist>ol>li:last-child>:last-child,.adoc .sidebarblock>.adoc-content>:last-child>:last-child,.adoc .sidebarblock>.adoc-content .olist>ol>li:last-child>:last-child,.adoc .sidebarblock>.adoc-content .ulist>ul>li:last-child>:last-child,.adoc .sidebarblock>.adoc-content .qlist>ol>li:last-child>:last-child{margin-bottom:0}
.adoc .literalblock pre,.adoc .listingblock pre:not(.highlight),.adoc .listingblock pre[class="highlight"],.adoc .listingblock pre[class^="highlight "],.adoc .listingblock pre.CodeRay,.adoc .listingblock pre.prettyprint{background:#f7f7f8}
.adoc .sidebarblock .literalblock pre,.adoc .sidebarblock .listingblock pre:not(.highlight),.adoc .sidebarblock .listingblock pre[class="highlight"],.adoc .sidebarblock .listingblock pre[class^="highlight "],.adoc .sidebarblock .listingblock pre.CodeRay,.adoc .sidebarblock .listingblock pre.prettyprint{background:#f2f1f1}
.adoc .literalblock pre,.adoc .literalblock pre[class],.adoc .listingblock pre,.adoc .listingblock pre[class]{-webkit-border-radius:4px;border-radius:4px;word-wrap:break-word;padding:1em;font-size:.8125em}
.adoc .literalblock pre.nowrap,.adoc .literalblock pre[class].nowrap,.adoc .listingblock pre.nowrap,.adoc .listingblock pre[class].nowrap{overflow-x:auto;white-space:pre;word-wrap:normal}

.adoc .listingblock pre.highlightjs{padding:0}
.adoc .listingblock pre.highlightjs>code{padding:1em;-webkit-border-radius:4px;border-radius:4px}
.adoc .listingblock pre.prettyprint{border-width:0}
.adoc .listingblock>.adoc-content{position:relative}
.adoc .listingblock code[data-lang]:before{display:none;content:attr(data-lang);position:absolute;font-size:.75em;top:.425rem;right:.5rem;line-height:1;text-transform:uppercase;color:#999}
.adoc .listingblock:hover code[data-lang]:before{display:block}
.adoc .listingblock.terminal pre .command:before{content:attr(data-prompt);padding-right:.5em;color:#999}
.adoc .listingblock.terminal pre .command:not([data-prompt]):before{content:"$"}
.adoc table.pyhltable{border-collapse:separate;border:0;margin-bottom:0;background:none}
.adoc table.pyhltable td{vertical-align:top;padding-top:0;padding-bottom:0}
.adoc table.pyhltable td.code{padding-left:.75em;padding-right:0}
.adoc pre.pygments .lineno,.adoc table.pyhltable td:not(.code){color:#999;padding-left:0;padding-right:.5em;border-right:1px solid #ddddd8}
.adoc pre.pygments .lineno{display:inline-block;margin-right:.25em}
.adoc table.pyhltable .linenodiv{background:none!important;padding-right:0!important}
.adoc .quoteblock{margin:0 1em 1.25em 1.5em;display:table}
.adoc .quoteblock>.title{margin-left:-1.5em;margin-bottom:.75em}
.adoc .quoteblock blockquote,.adoc .quoteblock blockquote p{color:rgba(0,0,0,.85);font-size:1.15rem;line-height:1.75;word-spacing:.1em;letter-spacing:0;font-style:italic;text-align:justify}
.adoc .quoteblock blockquote{margin:0;padding:0;border:0}
.adoc .quoteblock blockquote:before{content:"\201c";float:left;font-size:2.75em;font-weight:bold;line-height:.6em;margin-left:-.6em;color:#7a2518;text-shadow:0 1px 2px rgba(0,0,0,.1)}
.adoc .quoteblock blockquote>.paragraph:last-child p{margin-bottom:0}
.adoc .quoteblock .attribution{margin-top:.5em;margin-right:.5ex;text-align:right}
.adoc .quoteblock .quoteblock{margin-left:0;margin-right:0;padding:.5em 0;border-left:3px solid rgba(0,0,0,.6)}
.adoc .quoteblock .quoteblock blockquote{padding:0 0 0 .75em}
.adoc .quoteblock .quoteblock blockquote:before{display:none}
.adoc .verseblock{margin:0 1em 1.25em 1em}
.adoc .verseblock pre{font-family:"Open Sans","DejaVu Sans",sans;font-size:1.15rem;color:rgba(0,0,0,.85);font-weight:300;text-rendering:optimizeLegibility}
.adoc .verseblock pre strong{font-weight:400}
.adoc .verseblock .attribution{margin-top:1.25rem;margin-left:.5ex}
.adoc .quoteblock .attribution,.adoc .verseblock .attribution{font-size:.9375em;line-height:1.45;font-style:italic}
.adoc .quoteblock .attribution br,.adoc .verseblock .attribution br{display:none}
.adoc .quoteblock .attribution cite,.adoc .verseblock .attribution cite{display:block;letter-spacing:-.05em;color:rgba(0,0,0,.6)}
.adoc .quoteblock.abstract{margin:0 0 1.25em 0;display:block}
.adoc .quoteblock.abstract blockquote,.adoc .quoteblock.abstract blockquote p{text-align:left;word-spacing:0}
.adoc .quoteblock.abstract blockquote:before,.adoc .quoteblock.abstract blockquote p:first-of-type:before{display:none}
.adoc table.tableblock{max-width:100%;border-collapse:separate}
.adoc table.tableblock td>.paragraph:last-child p>p:last-child,.adoc table.tableblock th>p:last-child,.adoc table.tableblock td>p:last-child{margin-bottom:0}
.adoc table.spread{width:100%}
.adoc table.tableblock,.adoc th.tableblock,.adoc td.tableblock{border:0 solid #dedede}
.adoc table.grid-all th.tableblock,.adoc table.grid-all td.tableblock{border-width:0 1px 1px 0}
.adoc table.grid-all tfoot>tr>th.tableblock,.adoc table.grid-all tfoot>tr>td.tableblock{border-width:1px 1px 0 0}
.adoc table.grid-cols th.tableblock,.adoc table.grid-cols td.tableblock{border-width:0 1px 0 0}
.adoc table.grid-all *>tr>.tableblock:last-child,.adoc table.grid-cols *>tr>.tableblock:last-child{border-right-width:0}
.adoc table.grid-rows th.tableblock,.adoc table.grid-rows td.tableblock{border-width:0 0 1px 0}
.adoc table.grid-all tbody>tr:last-child>th.tableblock,.adoc table.grid-all tbody>tr:last-child>td.tableblock,.adoc table.grid-all thead:last-child>tr>th.tableblock,.adoc table.grid-rows tbody>tr:last-child>th.tableblock,.adoc table.grid-rows tbody>tr:last-child>td.tableblock,.adoc table.grid-rows thead:last-child>tr>th.tableblock{border-bottom-width:0}
.adoc table.grid-rows tfoot>tr>th.tableblock,.adoc table.grid-rows tfoot>tr>td.tableblock{border-width:1px 0 0 0}
.adoc table.frame-all{border-width:1px}
.adoc table.frame-sides{border-width:0 1px}
.adoc table.frame-topbot{border-width:1px 0}
.adoc th.halign-left,.adoc td.halign-left{text-align:left}
.adoc th.halign-right,.adoc td.halign-right{text-align:right}
.adoc th.halign-center,.adoc td.halign-center{text-align:center}
.adoc th.valign-top,.adoc td.valign-top{vertical-align:top}
.adoc th.valign-bottom,.adoc td.valign-bottom{vertical-align:bottom}
.adoc th.valign-middle,.adoc td.valign-middle{vertical-align:middle}
.adoc table thead th,.adoc table tfoot th{font-weight:bold}
.adoc tbody tr th{display:table-cell;line-height:1.6;background:#f7f8f7}
.adoc tbody tr th,.adoc tbody tr th p,.adoc tfoot tr th,.adoc tfoot tr th p{color:rgba(0,0,0,.8);font-weight:bold}
.adoc p.tableblock>code:only-child{background:none;padding:0}
.adoc p.tableblock{font-size:1em}
.adoc td>div.verse{white-space:pre}
.adoc ol{margin-left:1.75em}
.adoc ul li ol{margin-left:1.5em}
.adoc dl dd{margin-left:1.125em}
.adoc dl dd:last-child,.adoc dl dd:last-child>:last-child{margin-bottom:0}
.adoc ol>li p,.adoc ul>li p,.adoc ul dd,.adoc ol dd,.adoc .olist .olist,.adoc .ulist .ulist,.adoc .ulist .olist,.adoc .olist .ulist{margin-bottom:.625em}
.adoc ul.unstyled,.adoc ol.unnumbered,.adoc ul.checklist,.adoc ul.none{list-style-type:none}
.adoc ul.unstyled,.adoc ol.unnumbered,.adoc ul.checklist{margin-left:.625em}
.adoc ul.checklist li>p:first-child>.fa-square-o:first-child,.adoc ul.checklist li>p:first-child>.fa-check-square-o:first-child{width:1em;font-size:.85em}
.adoc ul.checklist li>p:first-child>input[type="checkbox"]:first-child{width:1em;position:relative;top:1px}
.adoc ul.inline{margin:0 auto .625em auto;margin-left:-1.375em;margin-right:0;padding:0;list-style:none;overflow:hidden}
.adoc ul.inline>li{list-style:none;float:left;margin-left:1.375em;display:block}
.adoc ul.inline>li>*{display:block}
.adoc .unstyled dl dt{font-weight:400;font-style:normal}
.adoc ol.arabic{list-style-type:decimal}
.adoc ol.decimal{list-style-type:decimal-leading-zero}
.adoc ol.loweralpha{list-style-type:lower-alpha}
.adoc ol.upperalpha{list-style-type:upper-alpha}
.adoc ol.lowerroman{list-style-type:lower-roman}
.adoc ol.upperroman{list-style-type:upper-roman}
.adoc ol.lowergreek{list-style-type:lower-greek}
.adoc .hdlist>table,.adoc .colist>table{border:0;background:none}
.adoc .hdlist>table>tbody>tr,.adoc .colist>table>tbody>tr{background:none}
.adoc td.hdlist1{padding-right:.75em;font-weight:bold}
.adoc td.hdlist1,.adoc td.hdlist2{vertical-align:top}
.adoc .literalblock+.colist,.adoc .listingblock+.colist{margin-top:-.5em}
.adoc .colist>table tr>td:first-of-type{padding:0 .75em;line-height:1}
.adoc .colist>table tr>td:last-of-type{padding:.25em 0}
.adoc .thumb,.adoc .th{line-height:0;display:inline-block;border:solid 4px #fff;-webkit-box-shadow:0 0 0 1px #ddd;box-shadow:0 0 0 1px #ddd}
.adoc .imageblock.left,.adoc .imageblock[style*="float: left"]{margin:.25em .625em 1.25em 0}
.adoc .imageblock.right,.adoc .imageblock[style*="float: right"]{margin:.25em 0 1.25em .625em}
.adoc .imageblock>.title{margin-bottom:0}
.adoc .imageblock.thumb,.adoc .imageblock.th{border-width:6px}
.adoc .imageblock.thumb>.title,.adoc .imageblock.th>.title{padding:0 .125em}
.adoc .image.left,.adoc .image.right{margin-top:.25em;margin-bottom:.25em;display:inline-block;line-height:0}
.adoc .image.left{margin-right:.625em}
.adoc .image.right{margin-left:.625em}
.adoc a.image{text-decoration:none}
.adoc span.footnote,.adoc span.footnoteref{vertical-align:super;font-size:.875em}
.adoc span.footnote a,.adoc span.footnoteref a{text-decoration:none}
.adoc span.footnote a:active,.adoc span.footnoteref a:active{text-decoration:underline}
.adoc #footnotes{padding-top:.75em;padding-bottom:.75em;margin-bottom:.625em}
.adoc #footnotes hr{width:20%;min-width:6.25em;margin:-.25em 0 .75em 0;border-width:1px 0 0 0}
.adoc #footnotes .footnote{padding:0 .375em;line-height:1.3;font-size:.875em;margin-left:1.2em;text-indent:-1.2em;margin-bottom:.2em}
.adoc #footnotes .footnote a:first-of-type{font-weight:bold;text-decoration:none}
.adoc #footnotes .footnote:last-of-type{margin-bottom:0}
.adoc #content #footnotes{margin-top:-.625em;margin-bottom:0;padding:.75em 0}
.adoc .gist .file-data>table{border:0;background:#fff;width:100%;margin-bottom:0}
.adoc .gist .file-data>table td.line-data{width:99%}
.adoc div.unbreakable{page-break-inside:avoid}
.adoc .big{font-size:larger}
.adoc .small{font-size:smaller}
.adoc .underline{text-decoration:underline}
.adoc .overline{text-decoration:overline}
.adoc .line-through{text-decoration:line-through}
.adoc .aqua{color:#00bfbf}
.adoc .aqua-background{background-color:#00fafa}
.adoc .black{color:#000}
.adoc .black-background{background-color:#000}
.adoc .blue{color:#0000bf}
.adoc .blue-background{background-color:#0000fa}
.adoc .fuchsia{color:#bf00bf}
.adoc .fuchsia-background{background-color:#fa00fa}
.adoc .gray{color:#606060}
.adoc .gray-background{background-color:#7d7d7d}
.adoc .green{color:#006000}
.adoc .green-background{background-color:#007d00}
.adoc .lime{color:#00bf00}
.adoc .lime-background{background-color:#00fa00}
.adoc .maroon{color:#600000}
.adoc .maroon-background{background-color:#7d0000}
.adoc .navy{color:#000060}
.adoc .navy-background{background-color:#00007d}
.adoc .olive{color:#606000}
.adoc .olive-background{background-color:#7d7d00}
.adoc .purple{color:#600060}
.adoc .purple-background{background-color:#7d007d}
.adoc .red{color:#bf0000}
.adoc .red-background{background-color:#fa0000}
.adoc .silver{color:#909090}
.adoc .silver-background{background-color:#bcbcbc}
.adoc .teal{color:#006060}
.adoc .teal-background{background-color:#007d7d}
.adoc .white{color:#bfbfbf}
.adoc .white-background{background-color:#fafafa}
.adoc .yellow{color:#bfbf00}
.adoc .yellow-background{background-color:#fafa00}
.adoc span.icon>.fa{cursor:default}
.adoc .admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.adoc .admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.adoc .admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.adoc .admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.adoc .admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.adoc .admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}
.adoc .conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.adoc .conum[data-value] *{color:#fff!important}
.adoc .conum[data-value]+b{display:none}
.adoc .conum[data-value]:after{content:attr(data-value)}
.adoc pre .conum[data-value]{position:relative;top:-.125em}
.adoc b.conum *{color:inherit!important}
.adoc .conum:not([data-value]):empty{display:none}
.adoc h1,.adoc h2{letter-spacing:-.01em}
.adoc dt,.adoc th.tableblock,.adoc td.adoc-content{text-rendering:optimizeLegibility}
.adoc p,.adoc td.adoc-content{letter-spacing:-.01em}
.adoc p strong,.adoc td.adoc-content strong{letter-spacing:-.005em}
.adoc p,.adoc blockquote,.adoc dt,.adoc td.adoc-content{font-size:1.0625rem}
.adoc p{margin-bottom:1.25rem}
.adoc .sidebarblock p,.adoc .sidebarblock dt,.adoc .sidebarblock td.adoc-content,.adoc p.tableblock{font-size:1em}
.adoc .exampleblock>.adoc-content{background-color:#fffef7;border-color:#e0e0dc;-webkit-box-shadow:0 1px 4px #e0e0dc;box-shadow:0 1px 4px #e0e0dc}
.adoc .print-only{display:none!important}

.adoc *{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}
.adoc a{color:inherit!important;text-decoration:underline!important}
.adoc a.bare,.adoc a[href^="#"],.adoc a[href^="mailto:"]{text-decoration:none!important}
.adoc a[href^="http:"]:not(.bare):after,.adoc a[href^="https:"]:not(.bare):after{content:"(" attr(href) ")";display:inline-block;font-size:.875em;padding-left:.25em}
.adoc abbr[title]:after{content:" (" attr(title) ")"}
.adoc pre,.adoc blockquote,.adoc tr,.adoc img{page-break-inside:avoid}
.adoc thead{display:table-header-group}
.adoc img{max-width:100%!important}
.adoc p,.adoc blockquote,.adoc dt,.adoc td.adoc-content{font-size:1em;orphans:3;widows:3}
.adoc h2,.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title{page-break-after:avoid}
.adoc #toc,.adoc .sidebarblock,.adoc .exampleblock>.adoc-content{background:none!important}
.adoc #toc{border-bottom:1px solid #ddddd8!important;padding-bottom:0!important}
.adoc .sect1{padding-bottom:0!important}
.adoc .sect1+.sect1{border:0!important}
.adoc #header>h1:first-child{margin-top:1.25rem}
.adoc body.book #header{text-align:center}
.adoc body.book #header>h1:first-child{border:0!important;margin:2.5em 0 1em 0}
.adoc body.book #header .details{border:0!important;display:block;padding:0!important}
.adoc body.book #header .details span:first-child{margin-left:0!important}
.adoc body.book #header .details br{display:block}
.adoc body.book #header .details br+span:before{content:none!important}
.adoc body.book #toc{border:0!important;text-align:left!important;padding:0!important;margin:0!important}
.adoc body.book #toc,.adoc body.book #preamble,.adoc body.book h1.sect0,.adoc body.book .sect1>h2{page-break-before:always}
.adoc .listingblock code[data-lang]:before{display:block}
.adoc #footer{background:none!important;padding:0 .9375em}
.adoc #footer-text{color:rgba(0,0,0,.6)!important;font-size:.9em}
.adoc .hide-on-print{display:none!important}
.adoc .print-only{display:block!important}
.adoc .hide-for-print{display:none!important}
.adoc .show-for-print{display:inherit!important}}

/* @media only screen and (min-width:768px){h1,.adoc h2,.adoc h3,.adoc #toctitle,.adoc .sidebarblock>.adoc-content>.title,.adoc h4,.adoc h5,.adoc h6{line-height:1.2} */
/*@media only screen and (min-width:768px){.sect1{padding-bottom:1.25em}}.sect1+.sect1{border-top:1px solid #efefed}*/

/*@media only screen and (min-width:768px){#toctitle{font-size:1.375em}*/
/*@media print{@page{margin:1.25cm .75cm}*/
/*@media only screen and (min-width:768px){.literalblock pre,.adoc .literalblock pre[class],.adoc .listingblock pre,.adoc .listingblock pre[class]{font-size:.90625em}}
@media only screen and (min-width:1280px){.literalblock pre,.adoc .literalblock pre[class],.adoc .listingblock pre,.adoc .listingblock pre[class]{font-size:1em}}.literalblock.output pre{color:#f7f7f8;background-color:rgba(0,0,0,.9)}*/
/*@media only screen and (min-width:1280px){body.toc2{padding-left:20em;padding-right:0}*/
